body {
    font-family: 'Fira Sans', sans-serif;
} 
.logo {
    text-decoration: none;
    color: black;
}
.span-logo {
    color: #1A75E8;
}
.header-nav {
    display: flex;
    justify-content: space-between;
}
.header-nav-list {
    display: flex;
    gap: 20px;
    font-size: 16px;
}
.nav-link {
    text-decoration: none;
    color: black;
}
.nav-link:hover {
    color: #1A75E8;
}
.button-nav-Signup {
    background-color: #1A75E8;
    width: 186px;
    height: 49px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}
.button-nav-enter {
    width: 49px;
    height: 19px; 
    font-size: 16px;
    border: none;
    margin-right: 37px;
}

.header-nav {
    padding: 59px ;
    align-items: center;
}
.header-main {
    display: flex;
}
.title {
    width: 460px;
    height: 106px;
    font-size: 44px;
}
.paragraf {
    width: 460px;
    height: 75px;
    font-size: 18px;
}
.span-main {
    width: 107px;
    height: 19px;
    font-size: 16px;
    color: #B2B2B2;
    padding-right: 100px;
}
.button-header-main {
    width: 206px;
    height: 49px;
    border: none;
    background: #1A75E8;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}
.button-img {
    padding-right: 10px;
}
.header-main {
    padding-left: 147px;
}
.header-main-card {
    width: 460px;
    height: 348px;
}
.span-main-2 {
    padding-top: 30px;
    color: #B2B2B2;
}
.span-main-3 {
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    color: #B2B2B2;
}
.span-main-4 {
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    color: #B2B2B2;
}
.span-main-5 {
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    color: #B2B2B2;
}
.header-main-card-span {
    padding-top: 25px;
    gap: 10px;
}
.header-main-img {
    width: 544.11px;
    height: 557.49px;
    padding-left: 127px;
}
/* стилі для категорій */
.categories {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .categories_items {
    display: flex;
    list-style-type: none;
    gap: 30px;
  }
  .categories_item {
    display: flex;
    margin-right: 30px;
    padding: 35px 55px;
    background: #f2f3f6;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .categories_iteme_img {
    width: 26px;
    height: 24px;
  }
  .categories_item:hover {
    background: #1a75e8;
  }
  .categories_item:hover img {
    filter: brightness(0) invert(1);
  }
  .categories_item:hover p {
    color: white;
  }




/* стилі footer */
.footer {
    display: flex;
    width: 810px;
    height: 177px;
}
.footer-logo-text {
    width: 166px;
    height: 34px;
    font-size: 12px;
    color: Grey;
}
.footer-logo-a {
    text-decoration: none;
    color: black;
}
.footer-logo {
    padding-left: 147px;
    padding-right: 88px;
}
.Contact-us {
    font-weight: 700;
}
.footer-item-1 {
    padding-right:137px ;   
}
.information {
    font-weight: 700;
}
.footer-item-2 {
    padding-right: 160px;
}
.footer-nav {
    font-weight: 700;
}
.footer-item-3 {
    padding-right: 229px;
}
.footer-nav-link {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}